* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2f42;
  background-color: #d3d3d3;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1 {
  margin-top: 20px;
  margin-bottom: 32px;
}

.main {
  position: relative;
  max-width: 800px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 15vh;
  background-color: #f1f1f7;
  border-radius: 15px;
  padding: 35px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.tasks-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  margin: 0;
  padding: 0;
}

.list-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #818188;
  border-radius: 25px;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.list-link:hover,
.list-link:focus {
  font-weight: 500;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.35s ease-out;
  transition-property: background-color, transform;
  /* mix-blend-mode: multiply; */
  z-index: -1;
}

.list-link:focus .circle,
.list-link:hover .circle {
  background-color: #d3d3d3;
  transform: translate(-50%, -50%) scale(1);
}

/* li {
  position: relative;
  margin: 8px 0;
} */

/* li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
} */

.signature-container {
  position: relative;
  margin-top: 60px;
}

.signature-img {
  display: block;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.signature-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
}

.nav {
  position: absolute;
  top: 15px;
  left: 45px;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s ease-out;
  transition-property: font-weight, text-shadow, left;
}

.nav:focus,
.nav:hover {
  font-weight: 500;
  left: 35px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
